body {
  font-family: "Lato" !important;
  font-size: large;
  background: #fffffe;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-size: 27px;
  padding-left: 10px;
  font-family: "Lato";
}
.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea:focus,
input:focus {
  outline: none !important;
}

.jumbotron {
  background-color: white;
}

#btn-new-meeting {
  background-color: #013f79;
  transition: background-color 0.3s;
}

#btn-new-meeting:hover,
#btn-new-meeting:focus {
  background-color: #092b49;
}

#btn-join-meeting {
  background-color: #3da9fc;
  transition: background-color 0.3s;
}

#btn-join-meeting:hover,
#btn-join-meeting:focus {
  background-color: #227dc2;
}

/* animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  50% {
    transform: translate(0);
  }

  100% {
    opacity: 1;
  }
}

.appear {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
